 <section id="tx-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="tx-block">
					<ul class="nav nav-pills social-icon">
						<li>
							<a class="facebook" href="">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a class="twitter" href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a class="dribbble" href="#">
								<i class="fa fa-dribbble"></i>
							</a>
						</li>
					</ul>
					<div class="poweredby">
						<span>Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> and all rights reserve to <a href="https://www.themexpert.com">Themexpert</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>