<div class="tx-static-page" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
               {{#post}}
                <div class="tx-block">
                    <h1 class="tx-post-title">{{{title}}}</h1>
                    <article id="tx-single-post">
                        <div class="tx-post-content">
                            {{content}}
                        </div>
                    </article>
                </div>
                {{/post}}
                
            </div>
        </div>
    </div>
</div>