/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 400px) {
  #tx-hero-area .menu ul {
    margin-top: 25px;
  }
  #tx-hero-area .tx-block h1 {
    margin-top: 35px;
    font-size: 26px;
  }
  #tx-hero-area .tx-block p {
    font-size: 16px;
    margin-top: 15px;
  }
  #tx-hero-area .tx-block .tx-top-to-bottom {
    display: none;
  }
  .post .block {
    width: 100%;
    padding: 25px 10px;
  }
  .post .block .tx-post-title {
    text-align: center;
    font-size: 24px;
    line-height: 1.3;
  }
  .post .block .tx-post-meta .tx-post-author {
    margin-right: 25px;
  }
  .tx-post-excerpt {
    text-align: center;
  }
  .post .block .tx-post-excerpt p {
    text-align: left;
  }
  .post .block .btn-read {
    margin-top: 15px;
  }
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #tx-hero-area .menu .nav-pills > li {
    float: none;
    display: inline-block;
  }
  #tx-hero-area .menu {
    text-align: center;
  }
  #tx-hero-area .menu ul {
    margin-top: 15px;
    text-align: center;
    float: none!important;
  }
  #tx-hero-area .tx-block {
    padding-top: 5%;
  }
}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #tx-hero-area .menu .nav-pills > li {
    float: none;
    display: inline-block;
  }
  #tx-hero-area .menu {
    text-align: center;
  }
  #tx-hero-area .menu ul {
    margin-top: 15px;
    text-align: center;
    float: none!important;
  }
}
